<%= form_with(model: Todo.new, remote: true, id: "form") do |form| %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :todo_description %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline, id: :todo_deadline %>
  </div>

  <div class="actions">  
    <%= form.submit %>
  </div>
<% end %>
